.item-form {
  display: flex;
  gap: 10px;
}

.item-form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-input {
  width: 280px;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.price-input,
.qty-input,
.disc-input,
.stock-input,
.qty-pack-input {
  width: 70px;
  text-align: right;
}

.list-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;

  .list{
    width: 65%;
  }
}

.billing-form {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

table{
  border: 1px solid #ccc;
  width: 100%;
}
.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group label {
  flex: 1;
  text-align: left;
  padding-right: 10px;
}

.form-group input {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
}

.form-actions button {
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;

  input{
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    width: 180px;
  }
  
  select{
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
  }
}

.remarks{
  padding: 10px;

  #remarks{
    width: 95%;
    height: 100px;
  }
}