html{
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f3ff;
    color: #0198d4;
}
.w40{
    width: 40px !important;
}